body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a7d8f1;
}
header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

nav {
    background-color: rgb(220, 221, 221);
    padding: 10px;
    text-align: center;
}
